
<div class="footer">
  <p class="copyright">
    The Stoic Journal, 2022.
  </p>
  <br>
  <p class="promotion-text">
    Designed and Developed by <a 
    target="blank"
    href="https://stoicpushkar.com" class="personal-link">Pushkar Singh</a>
  </p>
</div>
</body>
</html>
