<%- include('partials/header') %>

<h2>Log in to your account</h2>
<form action="/login" method="post">
    <input type="email" name="email" id="" placeholder="enter email" />
    <br>
    <input type="password" name="password" id=""  />
    <br>
    <button type="submit">Log in</button>
</form> 