<%- include('partials/header') %>

<div class="container">
    <h2>Log in to your account</h2>
    <div class="auth-form">
        <form action="/login" method="post">
            <input type="email" name="email" id="" placeholder="Enter Email" />
            <br>
            <input placeholder="Enter Password" type="password" name="password" id=""  />
            <br>
            <button class="primary-button"type="submit">Log in</button>
        </form> 
    </div>
</div>