<%- include('partials/header') %>

<form action="/morning" method="post">
    <button type="submit">Morning Reflection</button>
</form>
<br>
<form action="/evening" method="post">
    <button type="submit">Evening Reflection</button>
</form>
<br>
<form action="/free" method="post">
    <button type="submit">Free Writing</button>
</form>
<br>
<form action="/reflection" method="post">
    <button type="submit">Stoic reflection question</button>
</form>