<%- include('partials/header') %>
<h3>Compose</h3>
<br>
<form action="/compose" method="post">
    <label for="">Title</label>
    <br>
    <input type="text" name="title" id="">
    <br>
    <br>
    <textarea name="post" id="" cols="30" rows="10" placeholder="Start typing here..." >

    </textarea>
    <br>
    <button type="submit">Post</button>
</form>