<%- include('partials/header') %> 
<div class="hero">
<img src="/public/assets/hero-final.svg" alt="" class="hero-image">
<h1 class="hero">The Journal you need</h1>
</div>
<p>The Stoic Journal is a simple journal designed to make your mental health better one journalling session at a time</p>
<br>
<li class="home-links">
<a class="primary-button" href="/signup">Sign up</a>
<a class="secondary-button"   href="/login">Log in</a>
</li>
<%- include('partials/footer') %> 