<%- include('partials/header') %> 
<h1>The Journal you need</h1>
<p>The Stoic Journal is a simple journal designed to make your mental health better one journalling session at a time</p>
<br>
<a href="/signup">Sign up</a>
<br>
<a href="/login">Log in</a>
