<%- include('partials/header') %> 
<div class="hero">
<h1 class="hero">The Journal you need</h1>
</div>
<p>The Stoic Journal is a simple journal designed to make your mental health better one journalling session at a time</p>
<br>
<a href="/signup">Sign up</a>
<br>
<a href="/login">Log in</a>
