<%- include('partials/header') %>

<h3>Signup to your account</h3>
<form action="/signup" method="post">
    <input type="email" name="email" id="" placeholder="enter user email"  />
    <br>
    <input type="password" name="password" id=""  />
    <br>
    <button type="submit">Sign up</button>
</form>